.button {
    font-weight: 500;
    font-size: 14px;
    max-width: 245px;
    width: 100%;
    padding: 12px 0;
    background-color: var(--color-btn-orange);
    text-align: center;
    border-radius: 25px;
}

.button:hover {
    background-color: var(--color-btn-orange-hov);
}

