.button {
    font-weight: 500;
    font-size: 14px;
    max-width: 245px;
    width: 100%;
    padding: 12px 0;
    background-color: var(--color-btn-orange);
    text-align: center;
    border-radius: 25px;
}

.button:hover {
    background-color: var(--color-btn-orange-hov);
}

.button__btn--gray {
    max-width: 225px;
    font-size: 16px;
    /* color: var(--color-text); */
    background-color: transparent;
    /* background-color: gray; */
    /* border: 2px solid transparent; */
}

.button__btn--gray:hover {
    /* border-radius: 25px; */
    background-color: red;
    /* background-color: var(--color-text); */
    /* color: var(--color-btn-gray); */
    /* color: blue; */
    /* border: 2px solid transparent; */
}

.button__btn--orange {
    padding: 16px 0px 15px 0px;
    /* border: 2px solid var(--color-orange); */
    border: 2px solid transparent;
    border-radius: 33px;
    color: var(--color-orange);
    font-size: 16px;
    background-color: var(--color-text);
    max-width: 125px;
}

.button__btn--orange:hover {
    /* color: var(--color-text); */
}

.button__btn--orangeFixWidth {
    display: block;
    margin: 0 auto;
    max-width: 315px;
}