.button {
    font-weight: 500;
    font-size: 14px;
    max-width: 245px;
    width: 100%;
    padding: 12px 0;
    background-color: var(--color-btn-orange);
    text-align: center;
    border-radius: 25px;
}

.button:hover {
    background-color: var(--color-btn-orange-hov);
}

.button__btn--gray {
    max-width: 225px;
    font-size: 16px;
    color: var(--color-text);
    background-color: transparent;
    border: none;
}

.button__btn--gray:hover {
    border-radius: 25px;
    background-color: var(--color-text);
    color: var(--color-btn-gray);
    border: 2px solid var(--color-btn-gray);
}
