.header {
    padding: 9px 0 15px;
}

.header__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 700;
    line-height: 20px;
}

.logo__image {
    margin-right: 5px;
}

.logo__text-span {
    display: block;
}

.search-form {
    display: flex;
    align-items: center;
    max-width: 620px;
    flex-grow: 1;
    background-color: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    margin-left: 76px;
}

.search-form__input {
    background-color: transparent;
    width: 100%;
    border: none;
    line-height: 23px;
    padding: 13px 0 13px 20px;
}

.search-form__input:focus {
    outline: none;
}

.search-form__button {
    height: 44px;
    width: 44px;
    background-color: transparent;
    border: none;
}

.search-form__search-icon {
    display: block;
    background-position: left center;
}

.auth {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth__login {
    padding: 16px 29px 17px 30px;
    font-size: 14px;
    background-color: #EBEBEB;
    border-radius: 50px;
    color: var(--color-black);
}

.auth__shopping-cart {
    position: relative;
    margin-left: 31px;
    background-color: #F66A15;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__cart-count {
    padding: 5px;
    background-color: var(--color-yellow);
    border-radius: 50%;
    position: absolute;
    right: -3px;
    bottom: -5px;
    font-size: 8px;
    display: block;
    color: var(--color-black);
    line-height: 9px;
}

.auth__cart-icon {
    fill: var(--color-text);
}

@media (max-width: 1100px) {
    .search-form {
        flex-grow: 0;
        flex-basis: 50%;    
    }
}

@media (max-width: 900px) {
    .search-form {
        margin-left: 30px;
    }
}

@media (max-width: 800px) {
    .search-form {
        flex-basis: 45%;
    }
}

@media (max-width: 730px) {
    .search-form {
        max-width: 100%;
        flex-basis: 100%;
        margin-top: 20px;
        order: 1;
        margin-left: 0;
    }
}

@media (max-width: 380px) {
    .search-form {
        margin-bottom: 20px;
        order: 0;
        margin-left: 0;
    }

    .auth {
        margin-left: 0;
    }
}