.slider {
    margin-bottom: 50px;
}

.slide {
    display: flex;
    flex-direction: column;
    min-height: 399px;
    padding: 76px 0 0 101px;
    color: var(--color-text);
    font-weight: 700;
}

.slide__cart-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/slider/rectangle-1.jpg');
    border-radius: 20px;
}

.slide__title {
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 15px;
    max-width: 372px;
}

.slide__text {
    line-height: 23px;
    margin-bottom: 32px;
    max-width: 388px;
}

@media (max-width: 768px) {
    .slide {
        padding: 56px 0 0 80px;    
    }
}

@media (max-width: 480px) {
    .slide__title {
        font-size: 30px;
    }
}

@media (max-width: 380px) {
    .slide {
        padding: 76px 0 0 50px;   
    }

    .slide__title {
        font-size: 25px;
    }

    .slide__text {
        max-width: 250px;
    }
}