.slider {
    margin-bottom: 50px;
}

.slide {
    display: flex;
    flex-direction: column;
    min-height: 399px;
    padding: 76px 0 0 101px;
    color: var(--color-text);
    font-weight: 700;
}

.slide-summer {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/slider/rectangle-1.jpg');
}

.slide-vitamins {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/slider/rectangle-2.jpg');
}

.slide-autumn {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), url('../img/slider/rectangle-3.jpg');
}

.slide-summer, 
.slide-vitamins,
.slide-autumn {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.swiper {
    position: relative;
}

.slider-buttons {
    position: absolute;
    bottom: 39px;
    right: 46px;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 17px;
    cursor: pointer;
}

.slide__title {
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 15px;
    max-width: 390px;
}

.slide__text {
    line-height: 23px;
    margin-bottom: 32px;
    max-width: 388px;
}

@media (max-width: 768px) {
    .slide {
        padding: 56px 0 0 80px;    
    }
}

@media (max-width: 480px) {
    .slide {
        padding: 76px 0 0 50px;   
    }

    .slide__title {
        font-size: 30px;
        line-height: 35px;
    }

    .slide__text {
        max-width: 250px;
    }
}

@media (max-width: 320px) {
    .slide {
        padding: 76px 0 0 25px;   
    }

    .slide__title {
        font-size: 25px;
    }
}