:root {
    --color-black: #000000;
    --color-gray: #c9c9c9;
    --color-darkGray: #5F5F61;
    --color-middleGray: #49494F;
    --color-liteGray: #AAAAB1;
    --color-orange: #F37321;
    --color-text: #FFFFFF;
}